div.container{
	width: 600px;
	border: 3px dashed black;
	margin: auto;
	padding: 5px 5px;
}

img{
	float: right;
	margin: 5px;
}

.clear{
	clear: right;
}

div.tanker{
	width: 600px;
	border: 3px dashed black;
	margin: auto;
	padding: 5px 5px;
}

.kotak{
	width: 80px;
	height: 80px;
	color: whitesmoke;
	background-color: darkolivegreen;
	text-align: center;
	/*tips agar tulisannya benar benar di tengah/
	center-center bukan top-center*/
	line-height: 80px;
	font-size: 25px;
	margin: 2px;
	float: left;
}

.clear1{
	clear: left;
}


div.exmp{
	width:900px;
	border: 3px dashed black;
	margin: auto;
	padding: 5px 5px;
}


/*Penggunaan height hanya contoh
sebaiknya tidak perlu digunakan*/


.exmp .kiri{
	width: 200px;
	height: 500px;
	background-color: red;
	float: left;
}

.exmp .tengah{
	width: 500px;
	height: 500px;
	background-color: green;
	float: left;
}

.exmp .kanan{
	width: 200px;
	height: 500px;
	background-color: blue;
	float: right;
}

.clear2{
	clear: both;
}

/*
	Ukuran box kiri, tengah, dan kanan harus 
	sesuai dengan ukuran parentnya, seperti 
	contoh diatas ukuran parentnya 900px jadi
	box tengah, kiri, dan kanan harus total
	jumlahnya 900px
*/

a{
	font-size: 30px;
	text-align: center;
	display: block;
}